<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(geheimesite.nl|(\w+).geheimesite.nl|localhost:4000)$" AccessControlAllowOrigin=$0
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header add Access-Control-Allow-Methods: "GET"
        Header merge Vary Origin
    </IfModule>
</FilesMatch>
