.bold {
  font-family: var(--font-code);
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.75em;
  color: rgb(var(--primary));
}

.title {
  font-family: var(--font-display);
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 0.78571429em;
  margin-bottom: 0.78571429em;
}

.info {
  text-transform: lowercase;
  font-family: var(--font-sans);
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 0.5em;
  border-top: 1px solid rbga(var(--foreground), 0.1);
  border-bottom: 1px solid rbga(var(--foreground), 0.1);
}
.info::before {
  font-weight: bold;
  content: "Let op: ";
  text-transform: none;
}

.hidden {
  display: none;
}

.footnotes {
  font-size: 70%;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 5px;
  padding-top: 30px;
  margin-top: 90px;
  margin-bottom: 30px;
  color: gray;
  border-top: 1px solid rbga(188, 197, 208, 0.7);
}
@media (prefers-color-scheme: dark) {
  .footnotes {
      border-top: 1px solid rgba(188, 197, 208, 0.2);
  }
}

.footnotes li {
  font-family: var(--font-sans);
  line-height: 22px;
}
.footnotes li:not(:last-child) {
  margin-bottom: 20px;
}
.footnotes p:only-child,
.footnotes p:last-child {
  margin-bottom: 0;
}
.footnotes hr {
  display: none;
}

/* Optional utility for creating grids */

.list-grid {
  margin: 0;
  display: grid;
  width: 100%;
  max-width: revert;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  padding: 0;
}

@media (min-width: 768px) {
  .list-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0.5em;
  }
}

@media (min-width: 1024px) {
  .list-grid {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280) {
  .list-grid {
      grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.list-grid li {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-end;
}

.list-grid li h3 {
  margin-top: 0;
  margin-left: 0.5em;
  font-size: 0.875em;
  line-height: 1.25em;
}

@media (min-width: 768px) {
  .list-grid li h3 {
      margin-left: 0;
  }
}

.list-grid li span {
  font-size: 0.75em;
  line-height: 1em;
  opacity: 0.7;
}

.list-grid li h3 {
  font-size: 0.75em;
  line-height: 1em;
}

.list-grid li a {
  background-color: transparent;
  text-decoration-line: none;
}

.list-grid li a:hover {
  background-color: transparent;
  filter: brightness(0.9);
}

.list-grid li a img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  width: 100%;
}
